<a href="https://colab.research.google.com/github/safirimontano/Python/blob/main/Dados_fake_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install cpf_generator
!pip install faker

from faker import Faker
import cpf_generator 
from cpf_generator import CPF
import random
import datetime
import pandas as pd
import plotly as pl

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting cpf_generator
  Downloading cpf_generator-2.1.4-py3-none-any.whl (3.7 kB)
Collecting deprecation
  Downloading deprecation-2.1.0-py2.py3-none-any.whl (11 kB)
Requirement already satisfied: packaging in /usr/local/lib/python3.9/dist-packages (from deprecation->cpf_generator) (23.0)
Installing collected packages: deprecation, cpf_generator
Successfully installed cpf_generator-2.1.4 deprecation-2.1.0
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting faker
  Downloading Faker-17.6.0-py3-none-any.whl (1.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.7/1.7 MB 28.3 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.9/dist-packages (from faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil>=2.4->faker) (1.15.0)
Installing collected packages: faker
Successfully installed faker-17.6.0

In [61]:
fake = Faker(locale='pt_BR')

In [87]:
# atribuindo o valor para n

n =len(lista_nomes)

In [62]:
# geração de nomes

lista_nomes =[]

for i in range (20): 
  nomes = fake.name()
  lista_nomes.append(nomes)

print(lista_nomes)

['Agatha Monteiro', 'Esther Lima', 'Samuel Cardoso', 'Renan Martins', 'Joana da Mata', 'Sra. Laís Nascimento', 'Raquel Lima', 'Emanuel Barbosa', 'Sr. Henrique Rocha', 'Clarice Carvalho', 'Joaquim Cunha', 'Benício Ferreira', 'Erick da Mota', 'Dra. Ana Luiza da Rocha', 'Ana Vitória Gomes', 'Olivia Viana', 'Sra. Maria Clara da Conceição', 'Maysa Nascimento', 'Alícia Rocha', 'Isadora Barros']

In [55]:
# Gerar o CPF
lista_cpf = []

for i in range(n):
  cpf = CPF.generate()
  formatedCpf = CPF.format(cpf)
  lista_cpf.append(formatedCpf)

print( lista_cpf)

['456.346.193-86', '359.170.512-83', '976.156.958-64', '962.449.531-93', '524.918.981-44', '743.056.636-78', '997.839.892-94', '922.793.198-88', '403.083.059-57', '119.852.196-11', '576.271.077-76', '407.652.657-02', '124.236.554-01', '965.597.863-07', '433.388.031-92', '374.727.905-83', '535.184.330-75', '920.813.429-60', '993.285.771-87', '769.556.842-21']

In [63]:
# Gerar o RG (9 digitos + digitos)

def gera_rg (): # criação de função 
   numero_rg = str( random.randint(100000000, 999999999) ) 
   digito = str( random.randint(0, 9) )
   numero = f'{numero_rg}-{digito}' #junção formatada com numero e digito
   return numero #função que retorna rg

lista_rg = []
for i in range(n):
    rg = gera_rg() #chamada da função
    lista_rg.append(rg)

print(lista_rg)

['193552501-6', '589150717-7', '928492347-6', '916069812-4', '780877654-2', '680481588-0', '569342831-8', '828753589-1', '485948027-9', '512849023-0', '215395475-3', '192178205-2', '167097425-5', '602232398-7', '328446020-3', '556003925-9', '567262367-6', '711967963-8', '883128630-8', '462891661-2']

In [64]:
#Endereco 
enderecos = fake.address()
lista_enderecos = []

for i in range (n):
  enderecos = fake.address()
  lista_enderecos.append(enderecos)
  

print(lista_enderecos)

['Loteamento Cardoso, 14\nVila Santa Monica 2ª Seção\n22392-815 Nunes / RS', 'Via Aragão\nSanta Efigênia\n53525-014 Sales / BA', 'Lagoa de Castro, 44\nVila Atila De Paiva\n29183-592 da Mata de Minas / ES', 'Alameda de Cavalcanti, 96\nMarilandia\n71418552 Sales de Moreira / PA', 'Rodovia de Souza, 5\nGrota\n01381993 Fernandes das Pedras / SP', 'Rodovia Moura\nConjunto Lagoa\n08127864 Fernandes do Galho / CE', 'Conjunto de da Luz, 6\nMangueiras\n66890-970 Dias de Minas / ES', 'Núcleo João Miguel Costa\nTupi B\n88286-842 da Paz / ES', 'Distrito Sales, 45\nSão Gabriel\n07879501 da Luz de Costela / AL', 'Favela de das Neves, 744\nMinaslandia\n22811858 Barbosa / PR', 'Distrito da Conceição, 430\nVila Das Oliveiras\n37339161 Nogueira / PA', 'Praia de Souza, 8\nPadre Eustáquio\n92543-971 da Costa / MT', 'Pátio Moraes, 4\nSanta Lúcia\n05921694 Castro da Mata / PR', 'Vale João Lucas Novaes, 58\nSão Paulo\n62258-721 Oliveira / DF', 'Loteamento Araújo, 3\nJardim Felicidade\n49323129 Sales Paulista / SP', 'Área da Luz, 27\nDelta\n58485-231 da Rocha Verde / PR', 'Colônia Rodrigues\nCamargos\n45474146 Sales / PI', 'Vereda de Araújo, 388\nLorena\n46625-515 Peixoto de Barbosa / PR', 'Favela Vieira, 454\nAparecida\n33170499 Correia / RO', 'Vereda Eduarda Castro, 2\nParaíso\n81371-551 Farias dos Dourados / PR']

In [110]:
# definição de salários 
salario = float(fake.random_number(digits=4))

lista_salarios = []
for i in range (n):
  salario = str(fake.random_number(digits=4))
  casas_decimais = str(random.randint(00, 99))
  salario_formatado = f'R$ {salario},{casas_decimais}'
  salario_decimal = float(salario_formatado.replace('R$ ', '').replace(',', '.'))
  salario_final = f"R$ {salario_decimal:.2f}"
  lista_salarios.append(salario_final)
 
print(lista_salarios)

['R$ 4669.30', 'R$ 4652.79', 'R$ 5071.80', 'R$ 6582.68', 'R$ 9605.86', 'R$ 5746.30', 'R$ 2002.17', 'R$ 3100.97', 'R$ 3757.98', 'R$ 2788.27', 'R$ 3958.47', 'R$ 1216.65', 'R$ 5109.87', 'R$ 8855.70', 'R$ 8725.18', 'R$ 9574.10', 'R$ 5192.72', 'R$ 3714.49', 'R$ 5970.88', 'R$ 2156.52']

In [86]:
#Criar um id identado de acordo com o tamanho da lista de nomes

ids = list(range(1, n+1))  # list é uma função que tranforma o item em uma lista

In [111]:
# criando um dicionário com os dados das listas 

tabela = {
    'ID' : ids,
    'Nome' : lista_nomes,
    'CPF' : lista_cpf,
    'RG' : lista_rg,
    'Endereço' : lista_enderecos,
    'Salário' : lista_salarios,
    'Departamento' : [random.choice(['Operações', 'Adm', 'Tecnologia']) for i in range(n)]
    
}

df = pd.DataFrame(tabela)
df

,ID,Nome,CPF,RG,Endereço,Salário,Departamento
0,1,Agatha Monteiro,456.346.193-86,193552501-6,"Loteamento Cardoso, 14\nVila Santa Monica 2ª S...",R$ 4669.30,Adm
1,2,Esther Lima,359.170.512-83,589150717-7,Via Aragão\nSanta Efigênia\n53525-014 Sales / BA,R$ 4652.79,Operações
2,3,Samuel Cardoso,976.156.958-64,928492347-6,"Lagoa de Castro, 44\nVila Atila De Paiva\n2918...",R$ 5071.80,Operações
3,4,Renan Martins,962.449.531-93,916069812-4,"Alameda de Cavalcanti, 96\nMarilandia\n7141855...",R$ 6582.68,Adm
4,5,Joana da Mata,524.918.981-44,780877654-2,"Rodovia de Souza, 5\nGrota\n01381993 Fernandes...",R$ 9605.86,Adm
5,6,Sra. Laís Nascimento,743.056.636-78,680481588-0,Rodovia Moura\nConjunto Lagoa\n08127864 Fernan...,R$ 5746.30,Adm
6,7,Raquel Lima,997.839.892-94,569342831-8,"Conjunto de da Luz, 6\nMangueiras\n66890-970 D...",R$ 2002.17,Adm
7,8,Emanuel Barbosa,922.793.198-88,828753589-1,Núcleo João Miguel Costa\nTupi B\n88286-842 da...,R$ 3100.97,Tecnologia
8,9,Sr. Henrique Rocha,403.083.059-57,485948027-9,"Distrito Sales, 45\nSão Gabriel\n07879501 da L...",R$ 3757.98,Adm
9,10,Clarice Carvalho,119.852.196-11,512849023-0,"Favela de das Neves, 744\nMinaslandia\n2281185...",R$ 2788.27,Tecnologia
10,11,Joaquim Cunha,576.271.077-76,215395475-3,"Distrito da Conceição, 430\nVila Das Oliveiras...",R$ 3958.47,Adm
11,12,Benício Ferreira,407.652.657-02,192178205-2,"Praia de Souza, 8\nPadre Eustáquio\n92543-971 ...",R$ 1216.65,Tecnologia
12,13,Erick da Mota,124.236.554-01,167097425-5,"Pátio Moraes, 4\nSanta Lúcia\n05921694 Castro ...",R$ 5109.87,Tecnologia
13,14,Dra. Ana Luiza da Rocha,965.597.863-07,602232398-7,"Vale João Lucas Novaes, 58\nSão Paulo\n62258-7...",R$ 8855.70,Tecnologia
14,15,Ana Vitória Gomes,433.388.031-92,328446020-3,"Loteamento Araújo, 3\nJardim Felicidade\n49323...",R$ 8725.18,Adm
15,16,Olivia Viana,374.727.905-83,556003925-9,"Área da Luz, 27\nDelta\n58485-231 da Rocha Ver...",R$ 9574.10,Operações
16,17,Sra. Maria Clara da Conceição,535.184.330-75,567262367-6,Colônia Rodrigues\nCamargos\n45474146 Sales / PI,R$ 5192.72,Operações
17,18,Maysa Nascimento,920.813.429-60,711967963-8,"Vereda de Araújo, 388\nLorena\n46625-515 Peixo...",R$ 3714.49,Tecnologia
18,19,Alícia Rocha,993.285.771-87,883128630-8,"Favela Vieira, 454\nAparecida\n33170499 Correi...",R$ 5970.88,Operações
19,20,Isadora Barros,769.556.842-21,462891661-2,"Vereda Eduarda Castro, 2\nParaíso\n81371-551 F...",R$ 2156.52,Operações